:root {
  --toggle-swich-bg: #232428;
  --toggle-boarder: #232428;
  --toggle-bg: #fff;
  --toggle-circle-size: 40px;
  --toggle-width: 100px
}

.toggle-wrap {
  background-color: #a9a7a7;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.toggle-input {
  display: none;
}

.toggle-swich {
  height: var(--toggle-circle-size);
  width: var(--toggle-circle-size);
  background: var(--toggle-swich-bg);
  border-radius: 50%;
  transition: all .5s;
}
.toggle-wrap label{
  width: 100px;
  height: var(--toggle-circle-size);
  border: 3px solid var(--toggle-boarder);
  border-radius: 40px;
  padding: .25em;
  background: var(--toggle-bg);
}

.toggle-input:checked ~ .toggle-swich {
  background: orange;
  transform: translateX(calc(var(--toggle-width) - var(--toggle-circle-size)));
}