:root {
  --color-light: lightgray;
  --color-dark: darkgray;
}
.loading1-container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.loading1-circle{
  height: 1.5em;
  width: 1.5em;
  background: #000;
  margin: .5em;
  border-radius: 50%;
  animation: pulse infinite alternate 1s;
}

@keyframes pulse {
  from{
    background: var(--color-dark);
  }
  to {
    background: var(--color-light);
    width: 1.6em;
    height: 1.6em;
  }
}