:root {
  --font-main:"Nato Sans", sans-serif;
  --bg-main: #131417;
  --bg-card: #1e1f26;
  --bg-stats: #131417;
  --username: #b7bbc8;
}
.card-container {
  color: white;
  background-color: var(--bg-main);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main);
}
.card-details p {
  margin: 0;
  padding: 0;
}

.card ul {
  padding-left: 0;
}
.card ul li{
  list-style-type: none;
}
.card, .card img {
  border-radius: 10px;
}

.card {
  max-width: 300px;
  background: var(--bg-card);
  padding: .75em;
}
.card-body{
  display: flex;
}
.card-thumbnail img {
  max-width: 100%;
  object-fit: cover;
}

.card-avatar img {
  height: 50px;
  width: 50px;
  margin-right: 1em;
}
.card-details h3{
  font-weight: 900;
  font-size: 1rem;
}

.card-details p {
  font-size: .85rem;
  color: var(--username);
}
.card-stats {
  display: none;
  padding-bottom: .5em;
}
.card-stats li{
  background: var(--bg-stats);
  padding: .25em .5em;
  margin-right: .5em;
  border-radius: 5px;
}

.card:hover .card-stats {
  display: flex;
}

.card :hover {
  padding-bottom: 0;
}